<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <h1 class="mt20">Available Appointments</h1>
        <div *ngIf="appointments" class="row mt20">
        <div class="col-md-4" *ngFor="let a of appointments">
            <mat-card class="mb20" > 
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{a.firstname}} {{a.lastname}}</mat-card-title>
                    <mat-card-subtitle><p class="truncate">{{a.patientProblem}}</p></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                   
                    <p class="text-center">Appointment With:</p> 
                    <mat-card-title class="text-center">{{a.doctor.doctorFirstName}} {{a.doctor.doctorLastName}}</mat-card-title>
                    <mat-card-subtitle class="text-center">{{a.doctor.specialist}}</mat-card-subtitle>
                    <p class="text-center">Date&Time</p>
                    <mat-card-subtitle class="text-center">{{a.startDate | date:'dd-MM-yyyy'}} {{a.appTime }} </mat-card-subtitle>
                </mat-card-content>


                <button  (click)="deleteAppointment(a.appointmentId)" class="mt20" mat-flat-button color="accent">Delete</button>
            </mat-card>
            
        </div>
        <mat-card>
            <div class="mat-md-12" *ngIf="appointments.length==0">
                <div class="mat-card">
                    <mat-card-content>
                        <h1>No Apponitment are booked</h1>
                    </mat-card-content>
                </div>
            </div>
        </mat-card>
    </div>
</div>
</div>